@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jozef Koyš</h1>
    <p>Projekt k predmetu Vývoj mobilných aplikácií. Témou projektu je jednoduchá správa bookingov.</p>
</div>
